body {
  background-color: #F2EFEA;
}
.d-flex {
  display: flex;
}

.j-content-center {
  justify-content: center;
}

button {
  cursor: pointer;
}

#container {
  flex-direction: row;
  align-content: center;
  margin-top: 15vh;
}

#convertContainer {
  height: 350px;
  margin: 0 20px;
  flex-direction: column;
  align-items: center;
}

#inputText {
  /* background-color: #805E73; */
  /* background-color: rgba(134, 104, 123, 0.644); */
  background-color: #413e3e;
  color: #fff;
  height: 330px;
  border: 0;
  border-radius: 15px;
  resize: none;
}

#uploadButton {
  background-color: #F2EFEA;
  /* background-color: #87BCDE; */
  width: 60px;
  height: 38px;
  margin: 0 10px;
  color: #4E4D5C;
  border-radius: 15px;
  font-size: x-large;
}

.tile {
  background-color: #525252;
  width: 350px;
  border-radius: 15px;
}

.mini-tile {
  color: #fff;
  min-width: 100px;
  height: 50px;
  border-radius: 5px;
  border: 0;
}

.option-tile {
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}

.convert-option {
  background-color: #805E73;
  font-weight: 500;
  margin: 10px 0;
  font-size: 15px;
}

.input-file-tile {
  background-color: #4E4D5C;
  color: #F2EFEA;
  height: 50px;
  margin-top: 10px;
  justify-content: space-between;
  align-items: center;
}

.input-text-tile {
  height: 350px;
  align-items: center;
}

.output-tile {
  height: 350px;
}

#inputSide .output-option {
  background-color: #805E73;
  width: 100px;
  height: 50px;
  border-radius: 5px;
  border: 0;
}

.output-option i {
  align-self: center;
  font-size: x-large;
}

.input-file-tile p {
  margin-left: 15px;
  font-weight: 500;
  font-size: large;
}

.convert-option i {
  margin: 0 5px;
}